@tailwind base;
@tailwind components;
@tailwind utilities;
.slogan{
    font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 27%); 
  border-radius: 5px; 
}

::-webkit-scrollbar-track {
  background: #333; 
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
}


/* this css for otp verify */
@media (max-width: 768px) {
  .otp-input {
    width: 55px !important;
    height: 55px !important;
    font-size: 1.2rem;

  } 
}

@media (max-width: 480px) {
  .otp-input {
    width: 38px !important;
    height: 38px !important;
    font-size: 1rem;
  }

  .otp-container {
    gap: 0.5rem;
  }
}

.home_bg{
background-image: url('.homebg.jpg') !important;
background-repeat: no-repeat !important;
background-size: cover !important;
position: relative;
z-index: 99999 ;
}


.swiper-pagination-bullet {
  background-color: white !important; 
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: #ffcc00 !important; 
  opacity: 1;
}


